@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #FFFBF0;
  --foreground: #171717;
  --primary: #B5902B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFBF0;
    /* Force light mode for this design as per screenshot */
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}